{
    "env": {
        "dev": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-external-helpers"
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ]
        }
    }
}
