{   
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint"],
    "rules": {
        "@typescript-eslint/indent": ["warn", 2],
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}